name: Dart

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: dart-lang/setup-dart@9a04e6d73cca37bd455e0608d7e5092f881fd603

      - name: Install dependencies
        run: dart pub get

      - name: Verify formatting
        run: dart format --output=none

      - name: Analyze project source
        run: dart analyze --fatal-infos

      - name: Run tests
        run: dart test

      - name: Analyze Dart
        uses: zgosalvez/github-actions-analyze-dart@v1.6.1
        with:
          fail-on-warnings: true
          line-length: 200
